.inputButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.textarea{
    width: 100%;
}

.container {
    border: 2px solid #6a6a6a;
    padding: 15px;
}

.messages-container{
    height: 300px; /* Задаем фиксированную высоту, например 400px */
    overflow-y: auto; /* Добавляем вертикальную прокрутку, если сообщений много */
    border: 1px solid #e0e0e0; /* Необязательно: добавляем рамку для наглядности */
    padding: 10px; /* Необязательно: добавляем внутренние отступы */
}