.inputButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.textarea{
    width: 100%;
}

.container {
    border: 2px solid #6a6a6a;
    padding: 15px;
}